---
const {link, icono, nombre} = Astro.props
---
<button class="border-1 border-primario rounded-lg text-2xl hover:bg-secundario hover:text-base hover:animate-pulse">
    <a href=`${link}` target="_blank" class="p-1">{nombre}
        <i class={`text-2xl bx bxl-${icono}`}></i>
    </a>
</button>