---
import Footer from "../components/footer.astro"
import Contacto from "../components/contacto.astro"
import Tecnologia from "../components/Tecnologia.astro"
import Sobremi from "../components/Sobremi.astro"
import Proyecto from '../components/Proyecto.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="max-w-5xl mx-auto px-2 text-center text-texto">
		<Hero/>
		<Header/>
		<Proyecto/>
		<Tecnologia/>
		<Sobremi/>
		<Contacto/>
		<Footer/>
	</main>
</Layout>
