---

---

<section class="w-full  mb-7">
    <h2 class="text-2xl my-5 font-titulo">Contacto</h2>
    <form class=" text-start px-2.5 sm:grid grid-cols-2 grid-rows-3 sm:w-fit sm:h-fit mx-auto gap-2.5">
        <div class="flex flex-col sm:w-2xs">
            <label for="nombre" class="text-2xl">Nombre:</label>
            <input type="text" name="nombe" id="nombre" required class="py-2.5 px-1 border-1 border-gray-400 mt-2.5 rounded-lg">
        </div>
        <div class="flex flex-col">
            <label for="email" class="text-2xl">E-mail:</label>
            <input type="email" name="email" id="email" required class="py-2.5  px-1 border-1 border-gray-400 mt-2.5 rounded-lg">
        </div>
        <div class="flex flex-col col-span-full">
            <label for="msj" class="text-2xl">Mensaje:</label>
            <textarea name="msj" id="msj" required class="py-5 px-1 border-1 border-gray-400 mt-2.5 rounded-lg"></textarea>
        </div>
        <input type="submit" value="Enviar" class="w-full mt-4 py-2.5 text-3xl bg-yellow-200 text-blue-950 col-end-3 sm:h-16 hover:cursor-pointer">
    </form>
</section>
<script>
</script>