---
let fecha = new Date();
const anio = fecha.getFullYear();
---
<footer class="my-6 fade-on-scroll opacity-0 translate-y-8 transition-all duration-1000">
    <p>Creado con astro, tailwind css y html</p>
    <hr class="my-2.5 text-yellow-200">
    <p>{anio} <span class="text-yellow-200">Canario Alan</span></p>
</footer>
