---
---
<header class="sticky top-2.5">
    <nav class="flex w-full  justify-between border-2 p-5 rounded-2xl mt-1 border-gray-600 backdrop-blur-3xl z-10 sm:py-2">
        <a href="#" class="font-bold text-yellow-200 text-xl">AC</a>
        <i class='sm:invisible bx bx-menu text-3xl '></i>
        <ul class="hidden sm:flex gap-3">
            <li><a href="#" class="hover:text-yellow-200 hover:font-semibold sm:text-xl ">Proyectos</a></li>
            <li><a href="#" class="hover:text-yellow-200 hover:font-semibold sm:text-xl ">Tecnologias</a></li>
            <li><a href="#" class="hover:text-yellow-200 hover:font-semibold sm:text-xl ">Sobre mí</a></li>
            <li><a href="#" class="hover:text-yellow-200 hover:font-semibold sm:text-xl ">Contacto</a></li>
        </ul>
    </nav>
</header>