---
const navItems = [
  { nombre: 'Proyectos', href: '/#proyectos' },
  { nombre: 'Tecnologías', href: '/#tecnologias' },
  { nombre: 'Sobre mí', href: '/#sobremi' },
  { nombre: 'Contacto', href: '/#contacto' },
];
---
<header class="sticky top-2.5 z-10">
    <nav class="flex w-full  justify-between items-center border-2 p-5 rounded-2xl mt-1 border-primario backdrop-blur-3xl z-10 sm:py-2">
        <a href="/" class="font-titulo font-bold text-secundario text-xl"><img src="/logo.png" alt="logo" class="w-10"></a>
        <button class="sm:hidden" id="menu-ham">
            <i class='bx bx-menu text-3xl ' id="icon"></i>
        </button>
        <div class="hidden sm:block" id="menu-plegable">
            <ul class="sm:flex gap-3"  id="menu">
                {navItems.map(item => (
                    <li><a href={item.href} class="text-text  hover:text-secundario hover:font-semibold sm:text-xl transition-colors hover:underline">{item.nombre}</a></li>
                  ))}
            </ul>
        </div>
    </nav>
</header>
<script>
    const btnMenu = document.querySelector("#menu-ham")
    const menuOculto = document.querySelector("#menu-plegable")
    const menu = document.querySelector("#menu")
    const icono = document.querySelector("#icon")
//menu hamburguesa
    btnMenu?.addEventListener('click', () => {
    menuOculto?.classList.toggle('hidden');
    menuOculto?.classList.add("w-full","h-80","absolute","top-20","left-1/2", "transform", "-translate-x-1/2","bg-base","backdrop-blur-sm","border-1","border-primario","text-3xl", "rounded-b-2xl","transition-all", "transition-discrete");
    menu?.classList.add("flex", "flex-col", "gap-8", "p-1.5","mt-8")
    icono?.classList.toggle("bx-menu");
    icono?.classList.toggle("bx-x");
});
</script>