---
---
<section class="h-3/4 w-full flex flex-col-reverse justify-center items-center gap-6 my-8 sm:flex-row sm:gap-6">
    <div>
        <h1 class="w-full text-3xl">Hola!, Soy <span class="text-yellow-200 font-bold">Alan</span></h1>
        <p class="text-lg font-extralight">Desarrollador <span class="text-yellow-200 font-semibold">Full Stack</span></p>
    </div>
    <div>
        <img src="img/imgP.png" alt="Imagen Propia" class="w-60 rounded-full">
    </div>
</section>