---
import Botones from "../components/templates/btns.astro";
import Presentacion from "../components/Presentacion.astro";
---

<section
  class="min-h-[calc(100vh-180px)] w-full py-5 sm:grid grid-cols-2 items-center justify-center"
>
  <div class="relative">
    <img
      src="/miFoto.png"
      alt="imagen secundaria"
      class="w-60 h-70 object-contain rounded-full grayscale-100 sm:w-80 sm:h-full mx-auto" id="miFoto"
    />
    <a
      href="https://www.linkedin.com/in/canarioalan/" target="_blank"
      class="bg-green-100 text-green-800 px-2 py-1 text-sm rounded-full absolute top-1.5 right-0 animate-pulse hover:bg-green-200/50 hover:text-green-50 transition-colors"
      >Disponible para Trabajar</a
    >
  </div>
  <div class="row-end-1 basis-0 grow">
    <Presentacion />
    <div>
      <p class="text-xl font-extralight">
        Desarrollador <span
          class="text-secundario font-semibold font-secundario"
          >Full Stack</span>
      </p>
      <div class="text-lg mt-2.5 sm:mt-0">
        <p>
          con <span class="text-secundario font-light font-secundario"
            >+1 año de experiencia</span
          > combinando aprendizaje autodidacta con una tecnicatura en desarrollo
          de software, uilizando tecnologías como <span
            class="text-secundario font-light font-secundario"
            >HTML, CSS, JavaScript, SQL, PHP.</span>
        </p>
      </div>
    </div>
    <div class="flex gap-2.5 justify-center flex-wrap mt-2.5">
      <Botones
        nombre="GitHub"
        link="https://github.com/CanarioAlan"
        icono="github"
      />
      <Botones
        nombre="Linkedin"
        link="https://www.linkedin.com/in/canarioalan/"
        icono="linkedin"
      />
      <Botones
        nombre="Correo"
        link="mailto:alan.union.1998@gmail.com"
        icono="gmail"
      />
      <Botones nombre="Curriculum" link="/cv-canario-alan.pdf" icono="file-text" />
    </div>
  </div>
</section>
