---
    import Card from "../components/templates/Card.astro"
---
<section >
    <h2 class="text-2xl my-4 font-titulo">Mis Proyectos</h2>
    <div class="sm:flex gap-2.5">
     <Card titulo="Inmobiliaria JDF" tecnologia=[php,sql] descripcion="Proyecto realizado para una inmobiliaria de mi ciudad, presento un gran desafio realizarla, ya que me pedia conocimiento que aun no habia adquirido. por ejemplo el de  prender PHP."/>
     <Card titulo="Sofi Nails SALON" tecnologia=[php,sql] descripcion="Un proyecto pesnado para crecer, con pocas tecnologia pero con las bases de puestas para el dia de mañana crecer como un serviocio completo en gestion"/>
    </div>
</section>