---
import Card from "../components/templates/Card.astro";
---

<section id="proyectos" class="fade-on-scroll opacity-0 translate-y-8 transition-all duration-1000">
  <h2 class="text-2xl my-8 font-titulo font-bold tracking-wider">
    Mis <span class="text-secundario"> Proyectos</span>
  </h2>
  <div class="sm:flex gap-2.5">
    <Card />
  </div>
</section>
