---
import Card from "../components/templates/Card.astro";
---

<section id="proyectos">
  <h2 class="text-2xl my-4 font-titulo underline underline-offset-8 decoration-secundario">Mis Proyectos</h2>
  <div class="sm:flex gap-2.5">
    <Card />
  </div>
</section>
