<section class=" my-3.5 ">
    <h2 class="text-2xl mb-5">Sobre mí</h2>
    <div class=" sm:flex justify-center items-center gap-2.5">
        <div class="sm:w-md sm:flex flex-col justify-start">
            <p class="text-start">Soy <span class="text-yellow-200">Canario Alan</span>, Técnico en Desarrollo de Software con experiencia en tecnologías frontend y backend. Me apasiona diseñar y desarrollar soluciones eficientes y con una experiencia de usuario óptima.</p>
            <p class="text-start">Trabajo con tecnologías como Astro, Tailwind CSS, Laravel, MySQL, JavaScript y PHP, entre otras. Mi enfoque se centra en la creación de interfaces intuitivas, asegurando que cada proyecto cumpla con los requisitos otrogados.</p>
            <p class="text-start">Siempre busco mejorar mis habilidades y mantenerme actualizado con las últimas tendencias en desarrollo web. Me motiva la resolución de problemas y la optimización del rendimiento en aplicaciones digitales.</p>
        </div>
       <img src="img/imgP.png " alt="Imagen propia" class="w-3xs hidden sm:block">
    </div>
</section>