<section class=" my-3.5 ">
    <h2 class="text-2xl my-5 font-titulo inline-block underline underline-offset-8 decoration-secundario">Sobre mí</h2>
    <div class="lg:h-150 sm:flex justify-center items-center group p-2.5 py-5 gap-2.5 rounded-lg bg-gradient-to-b sm:bg-gradient-to-br from-primario/20 to-base to-75%">
        <div class="sm:w-md sm:flex flex-col justify-start">
            <p class="text-start group-hover:text-xl">Soy <span class="text-yellow-200">Canario Alan</span>, Técnico en Desarrollo de Software con experiencia en tecnologías frontend y backend. Me apasiona diseñar y desarrollar soluciones eficientes y con una experiencia de usuario óptima.</p>
          </div>
       <img src="img/imgP.png " alt="Imagen propia" class="w-3xs hidden sm:block drop-shadow-[0_0_0.75rem_gray] group-hover:scale-110">
    </div>
</section>