<section class="my-5 w-full" id="sobremi">
    <h2 class="text-2xl my-5 font-titulo inline-block underline underline-offset-8 decoration-secundario">Sobre mí</h2>
    <div class="px-2.5  sm:flex justify-around items-center py-10 rounded-lg bg-gradient-to-b sm:bg-gradient-to-br from-primario/35 to-base to-75%">
        <div class="sm:w-md sm:flex flex-col justify-start text-start">
            <p>Soy <span class="text-secundario">Canario Alan</span>, un apacionado Técnico en Desarrollo de Software con un enfoque <span class="text-secundario">Full-Stack</span>. </p>
            <p>Mis principales competencias técnicas abarcan HTML, CSS, JavaScript, SQL y PHP, entre otras tecnologías. Tengo la capacidad de desarrollar soluciones eficientes, funcionales y adaptadas a las necesidades del usuario. Me caracterizo por tener una constante búsqueda de aprendizaje y una mejora continua en mis habilidades.
            </p>
            <p>Fuera del ámbito profesional, disfruto explorar nuevas ideas y mantenerme activo. Soy un apasionado del deporte, los videojuegos y la música, actividades que me ayudan a potenciar la creatividad y la concentración.</p>
            <p>Estoy siempre dispuesto a colaborar en proyectos innovadores y a aplicar mis habilidades para construir experiencias de usuario intuitivas, accesibles y robustas.</p>
            <p>construyendo mi marca personal.</p>
          </div>
       <img src="/miLogo.png " alt="Imagen propia" class="w-3xs mx-auto mt-10 sm:block sm:m-0 group-hover:scale-110">
    </div>
</section>