---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/logo.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portafolio de Canario Alan, desarrollador de software Full-Stack y diseñador web con experiencia en HTML, CSS, JavaScript, React.js, Node.js, SQL, PHP, Laravel, Tailwindcss, Sass, Astro y TypeScript. ¡Si lo puedes imaginar, lo puedes programar!"
    />
    <meta
      name="keywords"
      content="Canario Alan, desarrollador web, desarrollador Full-Stack, programador, diseñador web, Santa Fe, Argentina, HTML, CSS, JavaScript, React.js, Node.js, SQL, PHP, Laravel, Tailwindcss, Sass, Astro, TypeScript, desarrollo de pagina web, programador en santa fe, creador de paginas web santa fe, programador web argentina"
    />
    <meta name="author" content="Canario Alan" />
    <meta name="robots" content="index, follow" />

    <meta
      property="og:title"
      content="Canario Alan | Desarrollador Full-Stack y Diseñador Web"
    />
    <meta
      property="og:description"
      content="Portafolio de Canario Alan, desarrollador de software Full-Stack y diseñador web con experiencia en HTML, CSS, JavaScript, React.js, Node.js, SQL, PHP, Laravel, Tailwindcss, Sass, Astro y TypeScript. ¡Si lo puedes imaginar, lo puedes programar!"
    />
    <meta property="og:url" content="https://canario-alan.netlify.app" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_AR" />

    <link rel="me" href="https://www.linkedin.com/in/canarioalan/" />
    <link rel="me" href="https://github.com/CanarioAlan" />
    <title>Canario Alan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body class="text-blue-50 bg-base">
    <slot />
  </body>
</html>
<script is:inline>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.remove("opacity-0", "translate-y-8");
        observer.unobserve(entry.target);
      }
    });
  });

  document.querySelectorAll(".fade-on-scroll").forEach((el) => observer.observe(el));
</script>